@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-image: url(https://www.momondo.com.co/kimg/b3/6e/216dcdaf-5acdc0d0-0.jpg); */
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}